# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
instance/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Logs
*.log

venv/
migrations/
**/*.db
